/* merriweather-regular - latin */
@font-face {
  font-display: block;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/merriweather-v30-latin-regular.woff2') format('woff2');
}

/* merriweather-italic - latin */
@font-face {
  font-display: block;
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/merriweather-v30-latin-italic.woff2') format('woff2');
}

/* merriweather-700 - latin */
@font-face {
  font-display: block;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/merriweather-v30-latin-700.woff2') format('woff2');
}

/* merriweather-700italic - latin */
@font-face {
  font-display: block;
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/merriweather-v30-latin-700italic.woff2') format('woff2');
}

/* lora-500 - cyrillic_cyrillic-ext_latin_latin-ext_math_symbols */
@font-face {
  font-display: block;
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext_math_symbols-500.woff2') format('woff2');
}

/* lora-500italic - cyrillic_cyrillic-ext_latin_latin-ext_math_symbols */
@font-face {
  font-display: block;
  font-family: 'Lora';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext_math_symbols-500italic.woff2') format('woff2');
}

/* lora-600 - cyrillic_cyrillic-ext_latin_latin-ext_math_symbols */
@font-face {
  font-display: block;
  font-family: 'Lora';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext_math_symbols-600.woff2') format('woff2');
}

/* lora-600italic - cyrillic_cyrillic-ext_latin_latin-ext_math_symbols */
@font-face {
  font-display: block;
  font-family: 'Lora';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext_math_symbols-600italic.woff2') format('woff2');
}

/* lora-italic - cyrillic_cyrillic-ext_latin_latin-ext_math_symbols */
@font-face {
  font-display: block;
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext_math_symbols-italic.woff2') format('woff2');
}

/* lora-regular - cyrillic_cyrillic-ext_latin_latin-ext_math_symbols */
@font-face {
  font-display: block;
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext_math_symbols-regular.woff2') format('woff2');
}

/* ubuntu-mono-regular - latin */
@font-face {
  font-display: block;
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/ubuntu-mono-v15-latin-regular.woff2') format('woff2');
}

/* ubuntu-mono-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/ubuntu-mono-v15-latin-italic.woff2') format('woff2');
}

/* ubuntu-mono-700 - latin */
@font-face {
  font-display: block;
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/ubuntu-mono-v15-latin-700.woff2') format('woff2');
}

/* ubuntu-mono-700italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/ubuntu-mono-v15-latin-700italic.woff2') format('woff2');
}