{% extends "layout.html" %}
{% block title %}Travel Schedule{% endblock %}
{% block body %}
<article>
  <header>
    <h1>Travel Schedule</h1>
  </header>
  
  <div class="entry">
    <p>I'm now tracking some of my travel schedule here in case you want to meet up
      spontaneously.  When not travelling I'm currently based in Vienna.  Either way,
      if you want to meet or have a virtual coffee chat, <a
        href="mailto:armin.ronacher@active-4.com">send me an email</a>.</p>
    <p>I'm always happy to talk about code, teams, startups and AI.</p>
    
    {% if travel_data %}
    <ul>
      {% for travel in travel_data %}
      <li>
        <strong>{{ format_date(travel.start_date, 'full') }}{% if travel.start_date != travel.end_date %} to {{ format_date(travel.end_date, 'full') }}{% endif %}</strong>: 
        {{ travel.location }} for <em>{{ travel.title }}</em>
        {% if travel.description %}
        <br><small>{{ travel.description }}</small>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No upcoming travel planned at the moment.</p>
    {% endif %}

    <p>You can also <a href="/travel.ics">subscribe to my travel calendar</a> to get updates directly in your calendar application.</p>
  </div>
</article>
{% endblock %}
