{% extends "layout.html" %}
{% block title %}Blog{% endblock %}
{% block body %}

  {%- for entry in pagination.get_slice() %}
  <div class=entry-overview>
    <div class=date>{{ format_date(entry.pub_date, format='medium') }}</div>
    <div class=detail>
      <h1><a href="{{ link_to('page', slug=entry.slug) }}">{{ entry.title }}</a></h1>
      {% if entry.summary %}
      <div class=summary>{{ entry.render_summary() }}</div>
      {% endif %}
    </div>
  </div>
  {%- endfor %}  

  {% if show_pagination and pagination.pages > 1 %}
    {{ pagination }}
  {% endif %} 
{% endblock %}
