{% extends "layout.html" %}
{% block title %}{{ rst.title }}{% endblock %}
{% block htmlhead %}
  {{ super() }}
  <meta name="description" content="{{ ctx.render_summary()|striptags }}">
  <meta name="og:description" content="{{ ctx.render_summary()|striptags }}">
  <meta name="twitter:description" content="{{ ctx.render_summary()|striptags }}">
  <meta name="twitter:card" content="summary">
{% endblock %}
{% block body %}
  {{ rst.html_title }}
  {% if ctx.pub_date %}
  <p class=date>written on {{ format_date(ctx.pub_date, format='full') }}
  {% endif %}

  {{ rst.fragment }}

  {% if ctx.tags %}
  <p class=tags>This entry was tagged
    {% for tag in ctx.tags|sort(case_sensitive=true) %}
      {%- if not loop.first and not loop.last %}, {% endif -%}
      {%- if loop.last and not loop.first %} and {% endif %}
      <a href="{{ link_to('tag', tag=tag) }}">{{ tag }}</a>
    {%- endfor %}
  {% endif %}
{% endblock %}
