/* merriweather-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/merriweather-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/merriweather-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/merriweather-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/merriweather-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/merriweather-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/merriweather-v30-latin-regular.svg#Merriweather') format('svg'); /* Legacy iOS */
}

/* merriweather-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/merriweather-v30-latin-italic.eot'); /* IE9 Compat Modes */
  src: url('fonts/merriweather-v30-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/merriweather-v30-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/merriweather-v30-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/merriweather-v30-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/merriweather-v30-latin-italic.svg#Merriweather') format('svg'); /* Legacy iOS */
}

/* merriweather-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/merriweather-v30-latin-700.eot'); /* IE9 Compat Modes */
  src: url('fonts/merriweather-v30-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/merriweather-v30-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/merriweather-v30-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/merriweather-v30-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/merriweather-v30-latin-700.svg#Merriweather') format('svg'); /* Legacy iOS */
}

/* merriweather-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/merriweather-v30-latin-700italic.eot'); /* IE9 Compat Modes */
  src: url('fonts/merriweather-v30-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/merriweather-v30-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/merriweather-v30-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/merriweather-v30-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/merriweather-v30-latin-700italic.svg#Merriweather') format('svg'); /* Legacy iOS */
}

/* questrial-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/questrial-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/questrial-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/questrial-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/questrial-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/questrial-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/questrial-v18-latin-regular.svg#Questrial') format('svg'); /* Legacy iOS */
}

/* ubuntu-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/ubuntu-mono-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/ubuntu-mono-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/ubuntu-mono-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/ubuntu-mono-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/ubuntu-mono-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/ubuntu-mono-v15-latin-regular.svg#UbuntuMono') format('svg'); /* Legacy iOS */
}

/* ubuntu-mono-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/ubuntu-mono-v15-latin-italic.eot'); /* IE9 Compat Modes */
  src: url('fonts/ubuntu-mono-v15-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/ubuntu-mono-v15-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/ubuntu-mono-v15-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/ubuntu-mono-v15-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/ubuntu-mono-v15-latin-italic.svg#UbuntuMono') format('svg'); /* Legacy iOS */
}

/* ubuntu-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/ubuntu-mono-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: url('fonts/ubuntu-mono-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/ubuntu-mono-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/ubuntu-mono-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/ubuntu-mono-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/ubuntu-mono-v15-latin-700.svg#UbuntuMono') format('svg'); /* Legacy iOS */
}

/* ubuntu-mono-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/ubuntu-mono-v15-latin-700italic.eot'); /* IE9 Compat Modes */
  src: url('fonts/ubuntu-mono-v15-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/ubuntu-mono-v15-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/ubuntu-mono-v15-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/ubuntu-mono-v15-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/ubuntu-mono-v15-latin-700italic.svg#UbuntuMono') format('svg'); /* Legacy iOS */
}
