body {
    font: 18px/25px 'Palatino', 'Palatino Linotype', 'Georgia', serif;
    margin: 0;
    padding: 0;
}

a {
    color: #432165;
}

a:hover {
    color: #3b185f;
    background: #f9f8fa;
}

div.container {
    width: 740px;
    margin: 48px auto;
    padding: 0;
}

div.header {
    float: left;
    height: 25px;
    margin-bottom: 42px;
}

div.navigation {
    float: right;
    height: 25px;
    margin-bottom: 42px;
}

div.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.navigation ul li {
    display: inline;
    margin: 0 3px;
    padding: 0;
}

div.body {
    clear: both;
}

div.footer {
    border-top: 1px dotted #ddd;
    padding-top: 9px;
    margin-top: 42px;
    font-size: 16px;
    color: #888;
    text-align: center;
}

div.footer p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Vollkorn', 'Georgia', serif;
    font-weight: normal;
    color: #222;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #555;
    text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
    color: #432165;
}

h1.title { width: 560px; }

h1 { font-size: 48px; margin: 10px 0 25px 0; line-height: 52px; }
h2 { font-size: 36px; margin: 10px 0 25px 0; line-height: 40px; }

p, div.line-block, ul, ol, pre {
    margin: 25px 0 25px 0;
}

ul ol, ol ul, ul ul, ol ol {
    margin: 10px 0;
}

h1 + p.date {
    margin-top: -28px;
    font-style: italic;
}

pre, code, tt {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', 'Courier New';
    font-size: 16px;
}

code, tt {
    font-size: 0.85em;
    background: #eee;
}

pre {
    border: 1px solid #ddd;
    padding: 10px;
    background: #fafafa;
}

p.tags {
    text-align: right;
    font-style: italic;
}

div.entry-overview {
    margin: 25px 122px;
}

div.entry-overview h1 {
    margin: 0;
    font-size: 20px;
    line-height: 25px;
    display: inline;
}

div.entry-overview div.summary {
    display: inline;
    margin: 0;
    line-height: 25px;
}

div.entry-overview div.summary p {
    display: inline;
    margin: 0;
    padding: 0;
}

div.entry-overview div.detail {
    margin-left: 120px;
}

div.entry-overview div.date {
    float: left;
    width: 100px;
    text-align: right;
    margin: 0;
    color: #888;
    font-style: italic;
}

div.entry-overview h1:after {
    content: " — ";
}

div.pagination {
    margin: 36px 0 0 0;
    text-align: center;
}

div.pagination strong {
    font-weight: normal;
    font-style: italic;
}

ul.tagcloud {
    font-size: 16px;
    margin: 36px 0;
    padding: 0;
    list-style: none;
}

ul.tagcloud li {
    margin: 0;
    padding: 0 10px;
    display: inline;
}
