{% extends "blog/archive.html" %}
{% block title %}Blog Archive for {{ entry.year }}{% endblock %}
{% block archive_title %}
  <h1>Blog <a href="{{ link_to('blog_archive') }}">Archive</a> for {{ entry.year }}</h1>
{% endblock %}
{% block archive_body %}
  <ul class=blog-archive>
    {%- for subentry in entry.months %}
      <li><a href="{{ link_to('blog_archive', year=entry.year,
                              month=subentry.month) }}">{{ subentry.month_name }}</a>
        <ul>
          {%- for entry in subentry.entries %}
            <li><a href="{{ link_to('page', slug=entry.slug) }}">{{ entry.title }}</a>
              {%- if entry.pub_date %}, {{ format_date(entry.pub_date, format='long') }}{% endif %}
          {%- endfor %}
        </ul>
    {%- endfor %}
  </ul>
{% endblock %}
